@font-face {
    font-family: 'VampireWars';
    src: url('../fonts/VampireWars.ttf') format('truetype');
}

body{
    grid-template-areas:"header header header"
    "sidebarL middle sidebarR"
    "footer footer footer";
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    height: 100vh;
    //background-color: #121212;
    background-image: url("/img/numeros-de-colores.jpg");
    font-family: 'VampireWars', serif;
}

.title{
    font-weight: bolder;
    color: #FFFFFF;
    grid-area: header;
    justify-self: center;
    //align-self: center;
}

.buttonNFieldLabel{
    grid-area: middle;
    align-self: center;
    justify-self: center;
    height: auto;
}

#numTextField, #button{
    height: 20px;
    border: 2px solid #03DAC6;
    border-radius: 5px;

}

#button{
    background-color: #BB86FC;
    border: 0;
}

#button:hover{
    background-color: #03DAC6;
    border: 2px solid #BB86FC;
}

.multiplicationTableContainer{
    grid-area: sidebarR;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-self: center;
    align-self: center;
    background-color: rgba(187, 134, 252, 0.68);
    height: 265px;
    width: 245px;
    padding-bottom: 15px;
    border-radius: 15px;
}

#multiplicationTable{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    height: 200px;
    width: 200px;
}

.tableElement {
    display: flex;
    justify-content: center;
    align-items: center;
}
